nz-list {
  width: 33%;
  height: auto;
}

input {
  margin-left: 12px;
  width: 200px;
}

nz-form-item nz-select {
  width: 200px;
}

nz-form-item {
  margin: 16px;
}

.selected {
  width: auto;
  height: auto;
  background-color: cadetblue;
}

a {
  color: black;
}
