<form nz-form [formGroup]="validateForm" nzLayout="horizontal" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>
      <button nz-button (click)="resetForm($event)">重置</button>
    </nz-form-control>
  </nz-form-item>
  <nz-row [nzGutter]="56">
    <nz-form-item>
      <nz-form-label>维修编号</nz-form-label>
      <nz-form-control>
        <nz-select
          name="repairNumber"
          [(ngModel)]="repairNumber"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let item of repairNumbers"
            [nzLabel]="item"
            [nzValue]="item"
          >
            <ng-template #tpl>
              {{ item }}
            </ng-template>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>故障判定</nz-form-label>
      <nz-form-control>
        <nz-select
          name="malfunction"
          [(ngModel)]="malfunctionType"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let item of malfunctionTypes"
            [nzLabel]="item"
            [nzValue]="item"
          >
            <ng-template #tpl>
              {{ item }}
            </ng-template>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">影响停机时间</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="time" placeholder="请输入"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">维修描述</nz-form-label>
      <nz-form-control [nzSpan]="56" nzErrorTip="Please write something here!">
        <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
      </nz-form-control>
    </nz-form-item>
  </nz-row>
</form>
