nz-row{
  width: 100%;
}

button {
  margin-left: 8px;
}

nz-form-item nz-form-label {
  margin-left: 8px;
}

nz-form-item nz-select {
  width: 150px;
}

nz-form-item input {
  width: 150px;
}

form {
  width: 100%;
}

textarea {
  margin-top: 16px;
  margin-right: 20px;
  width: 320px;
  height: 90px;
}
