<h3>维修单分派管理</h3>

<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <nz-row nz-row>
    <nz-form-item>
      <nz-form-label>设备组</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="请输入" formControlName="equipmentGroup"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>设备</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="请输入" formControlName="equipment"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>提交时间</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="startDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>至</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="endDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <div class="search-area">
      <button nz-button nzType="'primary'" (click)="search()">查询</button>
    </div>
    <div class="edit-area">
      <app-equipments-maintenance-standard-form></app-equipments-maintenance-standard-form>
      <button nz-button nzType="primary" (click)="showDeleteModal()">作废</button>
      <button nz-button nzType="primary" (click)="showDispatchModal()">分派</button>
      <button nz-button nzType="primary" (click)="showConfirmModal()">审核</button>

      <nz-modal
        [(nzVisible)]="isDeleteVisible"
        nzTitle="是否作废"
        (nzOnCancel)="handleDeleteCancel()"
        (nzOnOk)="handleDeleteOk()"
        [nzOkLoading]="isDeleteOkLoading"
      >
        <p *nzModalContent>是否作废选中的内容？</p>

      </nz-modal>

      <nz-modal
        [(nzVisible)]="isConfirmVisible"
        nzTitle="是否审核"
        (nzOnCancel)="handleConfirmCancel()"
        (nzOnOk)="handleConfirmOk()"
        [nzOkLoading]="isConfirmOkLoading"
      >
        <p *nzModalContent>是否确认选中的内容？</p>

      </nz-modal>

      <nz-modal
        [(nzVisible)]="isDispatchVisible"
        nzTitle="分派维修任务"
        (nzOnCancel)="handleDispatchCancel()"
        (nzOnOk)="handleDispatchOk()"
        [nzOkLoading]="isDispatchOkLoading"
        [nzWidth]="320"
      >
        <form nz-form [formGroup]="dispatchForm" nzLayout="horizontal">
          <nz-form-item style=" margin-left: 40px">
            <nz-form-label>负责人</nz-form-label>
            <nz-form-control>
              <nz-select style="width: 80%"
                name="engineers"
                [(ngModel)]="selectedEngineer"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  *ngFor="let item of engineers"
                  [nzLabel]="item.name"
                  [nzValue]="item"
                >
                  <ng-template #tpl>
                    {{ item }}
                  </ng-template>
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>要求完工时间</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzFormat="yyyy-MM-dd" [(ngModel)]="deadline" style="width: 80%"
                              formControlName="dispatchDeadline">

              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style=" margin-left: 28px">
            <nz-form-label>派工信息</nz-form-label>
            <nz-form-control>
              <textarea rows="5" style="width: 80%" formControlName="info" placeholder="填写派工信息"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
          </nz-form-item>
        </form>
      </nz-modal>
    </div>
  </nz-row>

</form>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
  <tr>
    <th
      [(nzChecked)]="checked"
      [nzIndeterminate]="indeterminate"
      (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th>编号</th>
    <th>车间</th>
    <th>设备</th>
    <th>描述</th>
    <th>维护人</th>
    <th>故障判定</th>
    <th>措施</th>
    <th>停机时间</th>
    <th>总体评价</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
    <td>{{ data.code }}</td>
    <td>{{ data.productionLine?.name }}</td>
    <td>{{ data.equipment?.name }}</td>
    <td>{{ data.description }}</td>
    <td>{{ data.maintenancePerson?.name }}</td>
    <td>{{ data.malfunctionType }}</td>
    <td>{{data.pauseTime}}</td>
    <td>{{data.maintenanceDesc}}</td>
    <td>{{data.ratingOfMaintenance}}</td>
  </tr>
  </tbody>
</nz-table>
