<div class="strategy-config">
  <h4>
    维修策略配置
  </h4>
  <nz-switch [(ngModel)]="isEasyMode" (ngModelChange)="unableAutoDispatchAndValidate()"
             [nzDisabled]="isDisabled"></nz-switch>
  <span>简单模式</span>
  <nz-switch [(ngModel)]="isAutoDispatch" [nzDisabled]="isEasyMode"></nz-switch>
  <span>维修自动分派</span>
  <nz-switch [(ngModel)]="enableValidate" [nzDisabled]="isEasyMode"></nz-switch>
  <span>启用验证</span>
  <nz-switch [(ngModel)]="enableAlarm" [nzDisabled]="isDisabled"></nz-switch>
  <span>维修预警</span>
  <br/>
  <span>维修等待超时阈值</span>
  <input [(ngModel)]="waitTime">
  <span>停机时常告警</span>
  <input [(ngModel)]="pauseTime">
  <span>维修分配超时阈值</span>
  <input [(ngModel)]="dispatchTime">
</div>
<div class="malfunctionType">
  <h4>故障类型</h4>
  <nz-list [nzBordered]="true" nzGrid>
    <div nz-row [nzGutter]="16">
      <input nz-input [(ngModel)]="newMalfunctionType" (keydown)="addNewMalfunctionType($event)" placeholder="输入新分类并回车">
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="6" *ngFor="let item of malfunctionTypes">
        <div nz-row>
          <nz-list-item (mouseover)="showIcon(item)" (mouseleave)="hideIcon(item)">
            <nz-card class="malfunctionTypeCard" nzSize="small" style="text-align: center;background-color: #b9b9b9">
              {{item.name}}
            </nz-card>
            <i (click)="deleteType(item)" [hidden]="item.hideButton" nz-icon nzType="minus-circle"
               nzTheme="outline"></i>
          </nz-list-item>
        </div>
      </div>
    </div>
  </nz-list>
</div>

<div class="malfunctionLevel">
  <h4>故障等级</h4>
  <nz-list [nzBordered]="true" nzGrid>
    <div nz-row [nzGutter]="16">
      <input nz-input [(ngModel)]="newMalfunctionLevel" (keydown)="addNewMalfunctionLevel($event)"
             placeholder="输入新分类并回车">
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-row *ngFor="let item of malfunctionLevels">
        <nz-list-item (mouseover)="showIcon(item)" (mouseleave)="hideIcon(item)">
          <nz-card class="malfunctionTypeCard" nzSize="small" style="text-align: center;background-color: #b9b9b9">
            {{item.name}}
          </nz-card>
          <i (click)="deleteLevel(item)" [hidden]="item.hideButton" nz-icon nzType="minus-circle"
             nzTheme="outline"></i>
          <p style="padding-left: 8px">说明：</p>
          <input nz-input [(ngModel)]="item.desc" style="padding-left: 8px">
        </nz-list-item>
      </div>
    </div>
  </nz-list>
</div>

<div class="equipment-management">
  <h4>设备台账</h4>
  <nz-switch [(ngModel)]="enableEquipmentManagement"></nz-switch>
  <span>设备管理小结</span></div>
