
      [nz-form] {
        max-width: 600px;
      }

      button {
        margin-left: 8px;
      }

      .malfunctionType{
        margin-top: 50px;
      }

      .malfunctionLevel{
        margin-top: 50px;
      }

      .equipment-management{
        margin-top: 50px;
      }

      .spare-parts-management{
        margin-top: 50px;
      }

      i{
      }

      nz-switch {
        margin-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
        color: cadetblue;
      }

      .strategy-config span {
        padding-top: 2px;
        padding-right: 8px;
        padding-left: 8px;
      }

      .strategy-config input {
        padding-top: 2px;
      }
