
[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 8px;
}

nz-form-item nz-select {
  width: 158px;
}

nz-form-item nz-form-label {
  margin-left: 4px;
}

div {
  width: 1000px;
}

nz-form-item nz-date-picker {
  width: 158px;
}

nz-form-item textarea{
  width: 850px;
}

h3 {
  margin-top: 8px;
}

.rating nz-form-item nz-form-label {
  margin-top: 4px;
}
