<button nz-button nzType="primary" (click)="showModal()">
  <span>新增</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="新增维修单"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <form nz-form [formGroup]="equipmentMaintenanceEditForm">

    <nz-form-item>
      <nz-form-label>编号</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="请输入" formControlName="code"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>人员</nz-form-label>
      <nz-form-control>
        <nz-select
          name="personnel"
          [(ngModel)]="selectedPerson"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let item of personnel"
            [nzLabel]="item.name"
            [nzValue]="item.name"
          >
            <ng-template #tpl>
              {{ item }}
            </ng-template>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>车间</nz-form-label>
      <nz-form-control>
        <nz-select
          name="workshops"
          [(ngModel)]="selectedWorkshops"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let item of workshops"
            [nzLabel]="item.name"
            [nzValue]="item.name"
          >
            <ng-template #tpl>
              {{ item }}
            </ng-template>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>区域</nz-form-label>
      <nz-form-control>
        <nz-select
          name="areas"
          [(ngModel)]="selectedArea"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let item of areas"
            [nzLabel]="item.name"
            [nzValue]="item.name"
          >
            <ng-template #tpl>
              {{ item }}
            </ng-template>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>工序</nz-form-label>
      <nz-form-control>
        <nz-select
          name="process"
          [(ngModel)]="selectedProcess"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let item of process"
            [nzLabel]="item.name"
            [nzValue]="item.name"
          >
            <ng-template #tpl>
              {{ item }}
            </ng-template>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>故障时间</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="malfunctionTime"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>描述</nz-form-label>
      <nz-form-control>
        <textarea rows="5" placeholder="请输入文本" formControlName="description" [(ngModel)]="description"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
