<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/logo.png" width="50px" height="125px">
        <h1>设备管理</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="基础" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/basic-data/basic">基础数据</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/basic-data/plant">工厂布局</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="设备管理" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments">设备管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-summary">设备管理小结</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="设备维修-简单模式" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-maintenance/record">设备维修单</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-maintenance/management">维修管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="设备维修-标准模式" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-maintenance-standard/record">设备维修单</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-maintenance-standard/dispatch">维修分派及审核</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-maintenance-standard/booking">维修报工</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-maintenance-standard/rating">生产确认及评价</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/equipments-maintenance-standard/validate">维修验证</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
