
      .edit-area {
        text-align: right;
        margin-right: 8px;
      }

      a {
        margin-left: 4px;
      }

      button {
        margin: 16px;
      }

      [nz-input] {
        margin: 12px;
      }
