[nz-form] {
  max-width: 600px;
}

[nz-input] {
  width: 100%;
}

button {
  margin-left: 8px;
}

nz-form-item nz-select {
  width: 100%;
}

.buttons {
  margin-left: auto;
  width: 17.5%;
}

.edit-area {
  margin-left: 24px;
}

nz-row {
  margin-top: 4px;
  margin-left: 8px;
}

nz-form-item {
  width: 33%;
}
app-equipment-params-table {
  width: 800px;
}
