[nz-input] {
  width: 125px;
}

nz-form-item nz-select {
  width: 125px;
}

nz-form-label {
  text-align: left;
  width: 64px;
  margin-right: 8px;
  margin-left: 16px;
}

label {
  text-align: left;
  width: 64px;
  margin-right: 8px;
  margin-left: 16px;
}

nz-date-picker {
  width: 120px;
}

a {
  padding-top: 4px;
  margin-right: 8px;
  margin-left: 16px;
  text-align: end
}

.extra nz-form-item {
  margin-left: 16px;
  margin-right: 16px;
}

.extra [nz-input] {
  width: 150px;
}

.extra nz-date-picker{
  width: 150px;
}
