<button nz-button nzType="primary" (click)="showModal()">
  <span>{{title}}</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{title}}设备"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  [nzWidth]="800"
>
  <span>基础属性</span>
  <form nz-form [formGroup]="equipmentEditForm">
    <nz-row nz-row [nzGutter]="32">
      <nz-form-item>
        <nz-form-label>编号</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入" formControlName="code"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>名称</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入" formControlName="name"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>设备组</nz-form-label>
        <nz-form-control>
          <nz-select
            name="equipment-group"
            [(ngModel)]="selectedGroup"
            [ngModelOptions]="{ standalone: true }"
          >
            <nz-option
              *ngFor="let item of equipmentGroups"
              [nzLabel]="item.name"
              [nzValue]="item"
            >
              <ng-template #tpl>
                {{ item }}
              </ng-template>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row nz-row [nzGutter]="32">
      <nz-form-item>
        <nz-form-label>负责人</nz-form-label>
        <nz-form-control>
          <nz-select
            name="responsibilities"
            [(ngModel)]="responsibilities"
            [ngModelOptions]="{ standalone: true }"
          >
            <nz-option
              *ngFor="let item of responsibilities"
              [nzLabel]="item.name"
              [nzValue]="item.name"
            >
              <ng-template #tpl>
                {{ item }}
              </ng-template>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>车间</nz-form-label>
        <nz-form-control>
          <nz-select
            name="workshops"
            [(ngModel)]="workshops"
            [ngModelOptions]="{ standalone: true }"
          >
            <nz-option
              *ngFor="let item of workshops"
              [nzLabel]="item.name"
              [nzValue]="item.name"
            >
              <ng-template #tpl>
                {{ item }}
              </ng-template>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>区域</nz-form-label>
        <nz-form-control>
          <nz-select
            name="areas"
            [(ngModel)]="areas"
            [ngModelOptions]="{ standalone: true }"
          >
            <nz-option
              *ngFor="let item of areas"
              [nzLabel]="item.name"
              [nzValue]="item.name"
            >
              <ng-template #tpl>
                {{ item }}
              </ng-template>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row nz-row [nzGutter]="32">
      <nz-form-item>
        <nz-form-label>工序</nz-form-label>
        <nz-form-control>
          <nz-select
            name="process"
            [(ngModel)]="process"
            [ngModelOptions]="{ standalone: true }"
          >
            <nz-option
              *ngFor="let item of process"
              [nzLabel]="item.name"
              [nzValue]="item.name"
            >
              <ng-template #tpl>
                {{ item }}
              </ng-template>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>工位</nz-form-label>
        <nz-form-control>
          <nz-select
            name="stations"
            [(ngModel)]="stations"
            [ngModelOptions]="{ standalone: true }"
          >
            <nz-option
              *ngFor="let item of stations"
              [nzLabel]="item.name"
              [nzValue]="item.name"
            >
              <ng-template #tpl>
                {{ item }}
              </ng-template>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>状态</nz-form-label>
        <nz-form-control>
          <nz-select
            name="status"
            [(ngModel)]="status"
            [ngModelOptions]="{ standalone: true }"
          >
            <nz-option
              *ngFor="let item of status"
              [nzLabel]="item.name"
              [nzValue]="item.name"
            >
              <ng-template #tpl>
                {{ item }}
              </ng-template>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <span>扩展属性</span>
    <nz-row nzGutter="32">
      <nz-form-item>
        <nz-form-label>型号</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="请输入"
            formControlName="equipmentModel"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>规格</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="请输入"
            formControlName="specification"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>厂家</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入" formControlName="manufacturer"/>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row nzGutter="32">
      <nz-form-item>
        <nz-form-label>出厂日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="dateOfProduction"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>出厂编号</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入" formControlName="serialNumber"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>安装日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="dateOfInstallation"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row nzGutter="32">
      <nz-form-item>
        <nz-form-label>首次使用</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="dateOfFirstUse"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>报废年限</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入" formControlName="expireYears"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>报废期限</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="dateOfExpiration"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <div>
      <app-equipment-attributes-table></app-equipment-attributes-table>
    </div>
  </form>
</nz-modal>
