<h4>设备管理列表</h4>
<nz-layout class="equipment-management">
  <nz-sider class="equipment-group" nzTheme="light" (contextmenu)="contextMenu($event, menu)">
    <nz-list nzBordered>
      <nz-list-item *ngFor="let item of equipmentGroups" (click)="selectGroup(item)" class="{{item.isSelected?'selectedGroup':''}}">
        <span >{{ item.name }}</span>
      </nz-list-item>
    </nz-list>
  </nz-sider>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="addGroup()">新增</li>
      <li nz-menu-item [hidden]="!selectedGroup" (click)="editGroup()">编辑</li>
      <li nz-menu-item [hidden]="!selectedGroup" (click)="deleteGroup()">删除</li>
    </ul>
  </nz-dropdown-menu>
  <app-equipment-group-edit-modal [selectedGroup]="selectedGroup!" #equipmentGroupEditModalComponent></app-equipment-group-edit-modal>
  <div style="width: 95%;margin-right: 4px">
    <app-equipment-search></app-equipment-search>
    <nz-table #equipmentTable [nzScroll]="scrollJson"
              nzShowSizeChanger
              nzBordered="true" nzSize="middle" [nzData]="equipments" style="margin-bottom:10px; height: auto;">
      <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>设备组</th>
        <th>负责人</th>
        <th>车间</th>
        <th>工序</th>
        <th>工位</th>
        <th>描述</th>
        <th>自动分派</th>
        <th>状态</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of equipmentTable.data" (click)="selectData(data)"
          [className]="data.isSelected?'selectedEquipment':''">
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.equipmentGroup?.name }}</td>
        <td>{{ data.responsible?.name }}</td>
        <td>{{ data.productionLine?.name }}</td>
        <td>{{ data.process?.name }}</td>
        <td>{{ data.asset?.name }}</td>
        <td>{{ data.description }}</td>
        <td><span nz-checkbox [nzChecked]="data.isAutoDispatch==1" [nzDisabled]="true"></span></td>
        <td>{{ data.status }}</td>

      </tr>
      </tbody>
    </nz-table>
    <h4>{{PARAM_TEXT}}</h4>
    <app-equipment-params-table #equipmentParamsTableComponent
                                [onIndexPage]="true" style="width: auto;height: 270px;">

    </app-equipment-params-table>
  </div>
</nz-layout>
