nz-layout {
  background-color: white;
}

h4 {
  margin-bottom: 16px;
}

.equipment-group {
  margin-right: 10px;
}

.selectedEquipment {
  background-color: cadetblue;
}

.selectedGroup {
  width: auto;
  height: auto;
  background-color: cadetblue;
}

button {
  margin-right: 8px;
}

.equipment-management {
  width: auto;
}

div nz-table {
  height: 1000px;
}

nz-pagination {
  width: auto;
  background-color: white;
}

nz-sider{
  background-color: white;
}
