<h4>设备管理列表</h4>
<nz-layout class="equipment-management">
<nz-sider class="equipment-group" nzTheme="light" >
  <app-equipment-group></app-equipment-group>
</nz-sider>
<div>
  <app-equipment-search></app-equipment-search>
  <nz-table #equipmentTable nzSize="middle" [nzData]="equipments" >
    <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>设备组</th>
        <th>负责人</th>
        <th>车间</th>
        <th>工序</th>
        <th>工位</th>
        <th>描述</th>
        <th>自动分派</th>
        <th>状态</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of equipmentTable.data" (click)="selectData(data)">
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.equipmentGroup }}</td>
        <td>{{ data.responsible }}</td>
        <td>{{ data.productionLine }}</td>
        <td>{{ data.process }}</td>
        <td>{{ data.asset }}</td>
        <td>{{ data.description }}</td>
        <td><span nz-checkbox [nzChecked]="data.isAutoDispatch==1" [nzDisabled]="true"></span></td>
        <td>{{ data.status }}</td>

      </tr>
    </tbody>
  </nz-table>
</div>
</nz-layout>
