nz-layout {
  background-color: white;
}

h4 {
  margin-bottom: 16px;
}

.equipment-group {
  margin-right: 10px;
}

.selectedEquipment {
  background-color: cadetblue;
}

button {
  margin-right: 8px;
}

.equipment-management {
  display: flex;
}

div nz-table {
  display: flex;

}

nz-pagination {
  display: flex;

  background-color: white;
}

nz-sider{
  background-color: white;
}
