
      .send-request {
        margin-bottom: 16px;
      }

      .send-request span {
        margin-left: 8px;
      }


      tr{
        word-break: keep-all;
        width: 110%;
        margin: auto;
      }
